body{
    background: linear-gradient(#023047  0%,#8ecae6 40%, #ffffff 100%);
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 85px;
    padding-top: 100px;
}
.profileImage{
    width: 200px;

}
.home h2{
    color: white;
}
.home h4{
    color: white;
}
.Pendidikan{
    background: linear-gradient(#ffffff 0%,#ffffffe9 40%, #ffffff00 100%);
    padding-bottom: 30%;
    font-size: 30px;
}
.pengalaman{
   padding-top: 60px; 
   justify-content: center;
}
.project{
    padding-top: 180px;
    background-color: white;

   

}
    .pengalaman h1{
        margin-bottom: 50px;
}
.footer{
    background-color: #fff;
   padding-bottom: 30px;
   margin-top: 200px;
}
.kontak a{
    color: black;
    font-size: 25px;
   margin-bottom: 20px;
   
}
.watermark{
    padding-top: 20px;
}
.projecta{
    margin-top: 50px;
}
.kemampuan{
    margin-top: 50px;
    margin-bottom: 30px;
    padding-top: 100px;
}
.tentangsaya{
    background-color: white;
    padding-bottom: 200px;
    padding-top: 300px;

   }

.tentangsaya h5{
    margin: 0 auto; 
    max-width: 600px; 
    padding: 20px; 
}
h1 {
    text-align: center;
    color: #080808;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.pendidikan {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 150px;

}

.edu-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
}

.edu-item:hover {
    transform: scale(1.02);
}

.edu-item h2 {
    font-size: 1.8em;
    color: #333;
}

.edu-item p {
    font-size: 1.1em;
    color: #666;
    line-height: 1.6em;
}

/* Responsive Design */
@media (max-width: 768px) {
    .edu-item h2 {
        font-size: 1.5em;
    }

    .edu-item p {
        font-size: 1em;
    }
}
